---
const currentYear = new Date().getFullYear()
---

<footer>
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} - Thought puffs and unsticky stickies of Rob Pataki. Made with ❤️ using Mark Teekman's
        <a href="https://github.com/markteekman/accessible-astro-starter">accessible starter theme</a>.
      </p>
    </div>
  </section>
</footer>
